In [74]:
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [106]:
file = pd.ExcelFile("data.xlsx")

In [107]:
file.sheet_names

['Sheet1', 'Sheet2', 'Sheet3']

In [108]:
data =file.parse("Sheet1")
data.head()

,Year of survy,Month of year,Std-week No.,Helico-No.of(eggs/plant),Helico-No.of(larvae/plant),Helicoverpa(ph-trap-cat),Helicoverpa(Lt-trap-cat),Rainfall(mm),Temperature(min),Temperature(max),RH(%),Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,91,1.0,1.0,1.590198,1.741270,117.118091,15.466361,16.2,12.75,25.750000,68.250000,NaN,NaN,NaN,NaN
1,91,1.0,2.0,1.950940,1.641486,98.074119,13.563625,0.0,17.40,29.000000,70.800000,NaN,NaN,NaN,NaN
2,91,1.0,3.0,1.245563,1.706981,100.381251,14.009318,0.0,17.75,28.250000,69.250000,NaN,NaN,NaN,NaN
3,91,1.0,4.0,1.428084,1.174188,82.460056,11.761397,0.0,16.25,30.000000,64.750000,NaN,NaN,NaN,NaN
4,91,1.0,5.0,1.167308,1.409615,104.844785,12.050350,0.0,12.00,30.666667,47.333333,NaN,NaN,NaN,NaN

In [109]:
sum(pd.isnull(data['Helicoverpa(ph-trap-cat)']))

1

In [110]:
sum(pd.isnull(data['Helicoverpa(Lt-trap-cat)']))

1

In [111]:

set_cols=['Helico-No.of(eggs/plant)','Helico-No.of(larvae/plant)','Helicoverpa(ph-trap-cat)','Helicoverpa(Lt-trap-cat)','Rainfall(mm)','Temperature(min)','Temperature(max)','RH(%)']
D1=data[set_cols]
D1=D1.drop(D1.index[len(D1)-1])

In [112]:
#print(x)
print(D1.shape)

(379, 8)

In [113]:
t_s=D1.dropna()
print(t_s.shape)
print(t_s)

(379, 8)
     Helico-No.of(eggs/plant)  Helico-No.of(larvae/plant)  \
0                    1.590198                    1.741270
1                    1.950940                    1.641486
2                    1.245563                    1.706981
3                    1.428084                    1.174188
4                    1.167308                    1.409615
5                    0.328125                    1.051250
6                    0.558571                    1.075714
7                    0.623333                    1.076667
8                    0.437500                    0.800000
9                    1.550000                    1.250000
10                   3.800000                    0.975000
11                   0.625000                    2.600000
12                   0.891667                    1.158333
13                   0.000000                    0.925000
14                   0.000000                    1.233333
15                   0.000000                    0.000000
16                   0.000000                    0.000000
17                   0.000000                    0.000000
18                   0.000000                    0.100000
19                   0.000000                    0.200000
20                   0.000000                    0.250000
21                   0.000000                    0.150000
22                   0.000000                    0.100000
23                   0.000000                    0.150000
24                   0.133333                    0.333333
25                   0.350000                    0.333333
26                   0.533333                    0.550000
27                   0.475000                    0.725000
28                   0.533333                    0.833333
29                   0.133333                    0.566667
..                        ...                         ...
349                  2.044131                    1.353995
350                  3.358007                    1.847917
351                  2.474577                    1.380595
352                  1.994360                    1.263298
353                  1.595121                    1.013487
354                  2.344444                    1.151736
355                  1.501971                    1.726442
356                  1.119481                    0.788907
357                  0.668611                    2.766389
358                  0.190952                    1.039762
359                  0.242857                    1.247619
360                  0.657143                    0.819048
361                  0.283333                    0.366667
362                  0.183333                    0.358333
363                  0.042857                    0.450000
364                  0.300000                    1.100000
365                  0.000000                    0.000000
366                  0.000000                    0.000000
367                  0.200000                    0.000000
368                  0.000000                    1.500000
369                  0.533333                    0.066667
370                  0.719000                    1.426667
371                  1.142489                    1.447186
372                  1.121731                    1.514038
373                  2.809152                    0.682758
374                  2.840096                    0.630005
375                  2.723226                    0.911107
376                  3.683016                    0.937937
377                  4.193002                    1.731657
378                  2.218955                    0.772091

     Helicoverpa(ph-trap-cat)  Helicoverpa(Lt-trap-cat)  Rainfall(mm)  \
0                  117.118091                 15.466361          16.2
1                   98.074119                 13.563625           0.0
2                  100.381251                 14.009318           0.0
3                   82.460056                 11.761397           0.0
4                  104.844785                 12.050350           0.0
5                   76.931964                 10.488368           0.0
6                   76.687101                  7.984820           0.0
7                   72.238381                  8.635822           0.0
8                   56.826108                  7.611879           3.5
9                   69.752399                  7.420467           0.0
10                  83.255780                  7.336124           0.0
11                 108.041761                  7.587804           0.4
12                  63.318309                  5.289521           0.0
13                  43.061729                  2.426174          32.0
14                  72.388940                  5.927552           2.2
15                   4.225250                  3.267683          17.8
16                   8.773825                  0.923978          74.6
17                  16.512981                  5.187011          52.5
18                  11.848419                  1.620476          88.3
19                  28.225172                  8.716432           0.6
20                  31.417685                  8.607626           3.6
21                  14.547397                  3.055794          61.4
22                  16.279989                  3.454658          66.8
23                   5.500000                  6.750422          29.2
24                  37.200000                  8.269472          14.0
25                  42.200000                  8.622916           0.6
26                  34.900000                  7.995300          10.0
27                  50.500000                  7.398913           0.0
28                  20.400000                  2.954820          96.0
29                  14.000000                  8.765467           0.0
..                        ...                       ...           ...
349                 24.000000                 27.000000           0.0
350                 69.000000                 28.000000           3.1
351                214.000000                 13.000000           0.0
352                 49.000000                 14.000000           0.0
353                 66.000000                 12.000000           0.0
354                 91.000000                 10.000000           0.0
355                 69.000000                 10.000000          20.0
356                 92.000000                 11.000000           0.0
357                347.000000                  8.000000           0.0
358                313.000000                  7.000000           0.0
359                191.000000                  3.000000           0.0
360                 80.000000                  4.000000           0.0
361                 81.000000                  3.000000           0.0
362                149.000000                 10.000000           0.0
363                151.000000                  9.000000           0.0
364                139.000000                  4.000000           0.8
365                103.000000                  5.000000           0.6
366                 21.000000                  1.000000          14.9
367                 10.000000                 10.000000          14.5
368                 22.000000                  4.000000          20.3
369                 59.000000                  5.000000           0.0
370                  9.000000                 14.000000           0.0
371                 87.000000                 14.000000           4.2
372                155.000000                 20.000000           0.0
373                106.000000                  9.000000           0.0
374                 66.000000                 10.000000           0.0
375                 24.000000                  9.000000           0.0
376                 38.000000                  7.000000           0.0
377                 71.000000                  7.000000           0.0
378                198.000000                 15.000000           0.0

     Temperature(min)  Temperature(max)      RH(%)
0           12.750000         25.750000  68.250000
1           17.400000         29.000000  70.800000
2           17.750000         28.250000  69.250000
3           16.250000         30.000000  64.750000
4           12.000000         30.666667  47.333333
5           16.000000         30.750000  55.750000
6           17.000000         34.000000  43.500000
7           20.000000         33.000000  52.333333
8           19.500000         33.000000  56.500000
9           21.000000         35.000000  55.000000
10          20.000000         36.500000  47.000000
11          21.000000         37.000000  39.000000
12          23.000000         37.000000  45.000000
13          22.500000         36.000000  50.500000
14          22.000000         36.000000  38.000000
15          22.000000         34.000000  71.000000
16          23.500000         31.500000  73.000000
17          21.666667         28.666667  82.000000
18          22.000000         29.500000  80.000000
19          22.000000         30.000000  77.000000
20          23.000000         30.000000  75.500000
21          22.500000         30.500000  77.500000
22          22.000000         29.500000  79.000000
23          22.500000         29.500000  77.000000
24          21.666667         29.666667  76.000000
25          22.333333         31.000000  66.333333
26          24.000000         31.000000  73.333333
27          22.500000         33.000000  66.000000
28          22.000000         29.000000  80.333333
29          21.666667         31.000000  69.333333
..                ...               ...        ...
349         14.600000         30.200000  63.600000
350         16.000000         29.000000  69.333333
351          9.666667         29.333333  56.000000
352          9.666667         29.000000  53.333333
353          9.000000         28.500000  59.750000
354          9.000000         28.000000  57.500000
355         16.000000         28.000000  72.000000
356         14.500000         29.250000  59.500000
357         16.333333         30.333333  63.000000
358         11.333333         29.000000  55.000000
359         10.666667         31.000000  53.000000
360         13.666667         33.000000  51.000000
361         13.500000         32.500000  46.500000
362         15.333333         33.666667  49.333333
363         16.500000         35.000000  43.500000
364         19.000000         33.000000  63.000000
365         19.000000         35.000000  46.000000
366         22.000000         32.000000  62.000000
367         21.000000         29.000000  84.000000
368         19.000000         31.000000  72.000000
369         14.000000         30.000000  64.000000
370         16.000000         31.000000  67.000000
371         17.000000         30.000000  70.666667
372         17.000000         29.666667  66.000000
373         14.600000         30.200000  62.800000
374         12.500000         28.250000  66.000000
375          8.666667         29.333333  56.333333
376         11.000000         29.666667  61.333333
377         10.500000         28.750000  58.750000
378         12.600000         27.800000  63.400000

[379 rows x 8 columns]

In [114]:
te_s =D1[~D1.isin(t_s).all(1)]
print(te_s)

Empty DataFrame
Columns: [Helico-No.of(eggs/plant), Helico-No.of(larvae/plant), Helicoverpa(ph-trap-cat), Helicoverpa(Lt-trap-cat), Rainfall(mm), Temperature(min), Temperature(max), RH(%)]
Index: []

In [115]:
X_col=['Helico-No.of(eggs/plant)','Helico-No.of(larvae/plant)','Rainfall(mm)','Temperature(min)','Temperature(max)','RH(%)']
Y_col1=['Helicoverpa(ph-trap-cat)']
Y_col2=['Helicoverpa(Lt-trap-cat)']
X_train_set =t_s[X_col]
Y_train_set1 =t_s[Y_col1]
Y_train_set2 =t_s[Y_col2]
X_test_set=te_s[X_col]

In [94]:
regr1 = linear_model.LinearRegression()
regr2 = linear_model.LinearRegression()
regr1.fit(X_train_set,Y_train_set1)
regr2.fit(X_train_set,Y_train_set2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [95]:
y_pred1 = regr1.predict(X_train_set)
y_pred2 = regr2.predict(X_train_set)
print("Mean squared error: %.2f" % mean_squared_error(Y_train_set1,y_pred1))
print("Mean squared error: %.2f" % mean_squared_error(Y_train_set2,y_pred2))

Mean squared error: 5182.94
Mean squared error: 119.39

In [104]:
Y_pred1=regr1.predict(X_test_set)
Y_pred2=regr2.predict(X_test_set)

In [105]:
pre1 = pd.DataFrame(Y_pred1)
pre2 =pd.DataFrame(Y_pred2)
writer = pd.ExcelWriter('pedic.xlsx', engine='xlsxwriter')
pre1.to_excel(writer, sheet_name='Sheet1')
pre2.to_excel(writer, sheet_name='Sheet2')
writer.save()